:root {
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --font-asap: "Asap", sans-serif;
  --title-lg: 700 56px / 120% var(--font-asap);
  --title-md: 700 24px / 120% var(--font-asap);
  --title-sm: 700 16px / 120% var(--font-asap);

  --font-inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px / 120% var(--font-inconsolata);

  --font-maven: "Maven Pro", sans-serif;
  --text-md: 400 16px / 140% var(--font-maven);
  --text-sm: 400 14px / 140% var(--font-maven);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}
